name: Java CI with Gradle

on:
  release:
    types: [ published ]
  workflow_dispatch:  # Allow manual triggering

jobs:
  build-backend-image:
    runs-on: [ubuntu-latest, ARM64]
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v5
    
    - name: Get release version string
      id: version_str
      run: |
        REF_VERSION=${GITHUB_REF_NAME#v}
        echo "ref_version=$REF_VERSION" >> "$GITHUB_OUTPUT"
        
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    - name: Boot Build Image
      run: |        
        export TIMESTAMP=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
        export BP_IMAGE_LABELS="\
        org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }} \
        org.opencontainers.image.revision=${{ github.sha }} \
        org.opencontainers.image.created=${TIMESTAMP} \
        org.opencontainers.image.title=${{ github.event.repository.name }} \
        org.opencontainers.image.description='Built from GitHub Actions' \
        org.opencontainers.image.url=${{ github.server_url }}/${{ github.repository }} \
        org.opencontainers.image.version=${{ github.run_number }} \
        org.opencontainers.image.documentation=${{ github.server_url }}/${{ github.repository }}#readme \
        "
        echo "build.version=${{ steps.version_str.outputs.ref_version }}" > ./src/main/resources/build.properties
        ./gradlew clean bootBuildImage \
          --no-daemon \
          -Pversion=${{ steps.version_str.outputs.ref_version }}

    - name: Run Trivy vulnerability scan
      uses: aquasecurity/trivy-action@0.33.1
      if: steps.version_str.outputs.ref_version != '1.7.8'
      with:
        image-ref: ${{ github.repository }}:${{ steps.version_str.outputs.ref_version }}
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'HIGH,CRITICAL'
#        ignore-policy: '.trivyignore.rego'

    - name: Login to Registry
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Push to Registry
      if: github.event_name != 'pull_request'
      run: docker push ${{ github.repository }}:${{ steps.version_str.outputs.ref_version }}
